#pink1
{
    background-color:  #FFEBDE; 
}



.fakeBg4
{
    background-color: aliceblue;
    /* align-items: center; */
      /* margin-right: 500px; 
     margin-top: 190px;
    margin-left: -500px;     */
    /* background-image: url('whiteBackg.png');
    background-size: cover; 
    width: 1000px;   */
 

}


