#lightBlue {
    background-color: #7EA1D2;
    color: white;
    border: none; 
    font-family: 'DM Sans', sans-serif;     
}

#newBlue {
    background-color: #4870c6;
    color: white;
    border: none; 
    font-family: 'DM Sans', sans-serif;     
}


#darkBlue {
    background-color: #6766E0;
    color: white;
    border: none; 
    font-family: 'DM Sans', sans-serif;     
}

#lightPink {
    background-color: #F2535A;
    color: white;
    border: none;      
    font-family: 'DM Sans', sans-serif;
}

#pink{
    background-color:#FF8989;

}

#pinkPicture
{
    width:700px;
    height: auto;
    margin-top: -100px;
}

#textColor
{
    color: #FFEBDE;
    font-size: 55px;
    font-family: 'League Spartan', sans-serif;
    
    
}
#white{
    color: #ffffff;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
}
#textColor2
{
    color: #FFEBDE;
    font-size: 55px;
    font-family: 'League Spartan', sans-serif;
    text-align: center;
    
    
}

#space11{
    line-height: 8;
}
#foodExplorer{
    color: #55358A ;
    font-family: 'Caprasimo', cursive;
    padding: 4px;

}
#foodExplorer2{
    color: #ffffff ;
    font-family: 'Caprasimo', cursive;
    padding: 4px;

}

#foodTop
{
    margin-left: 5%;
    width: 90%;
    height: 400px;  
}
.button{
    margin-right: 40px;
    width: 145px;
    height: 60px;
    border-radius: 40px;
}

#beige{
    background-color:#FFEBDE;

}

#foodName
{
    font-family: 'Fasthand', cursive;
    font-size: 70px;
    width: 100px;
    margin-top: 10%;
    margin-left: 40%;

    
    white-space: nowrap;
}


#forkKnifePic
{
    font-family: 'Cormorant Garamond', serif;
    width:60px;
    height: 60px;
    margin-left: 30%;  

}
#forkKnife
{
    font-family: 'Cormorant Garamond', serif;
    width:70px;
    height: 60px;
    margin-left: 25%;  
    font-size: 28px;
    margin-top: -2px;
}

#adjMinutes{
font-family: 'Cormorant Garamond', serif;
margin-top: 45px;
margin-right: 25%;
width:70px;
height: 60px;
font-size: 26px;


}


.vl {
    border-left: 2px solid #000000;
    color: #F2535A;
    height: 100%;
    margin-left: 50%;
  }

#navColor
{
   background-color: #7EA1D2;
}




#recipeBook
{
    font-family: 'Playfair Display', serif;
}




#headers{
    font-size: 27px;

}

#recipeResult1
{
    font-size: 22px;



}


#look{
    height: 60px;
    width: 250px ;
    margin-top: 12px;
    border-radius: 40px;
    text-indent: 20px;
   
}

#search{

    width:30px;
    height: 30px;
}



#guyPicture
{
    height: 350px;
    width: 350 px;
    margin-left: -80%;




} 


  

  footer{

    height: 100px;


}  


#iputName
{
    height: 60px;
    width: 300px;
    border-radius: 20px;
    text-indent: 20px;
}


#inputEmail
{
    height: 60px;
    width: 300px;
    border-radius: 20px;
    text-indent: 20px;
}


#inputInquiry
{
    height: 175px;
    width: 283px;
    border-radius: 20px;
    text-indent: 20px;
}

.fakeBg
{
    background-image: url('test2.png');
    background-size: cover;
    background-position: center;   
}


#us
{
    color: #FDFAF9;
    text-indent: -150px;
    font-family: 'Bebas Neue', sans-serif;
}
#us2
{


    font-family: 'Bebas Neue', sans-serif;
}
#lnkPic
{
    height: 90px;
    width: 90px;
    margin-bottom: -95%;

}

#footcolor{

    background-color: #F2535A;
}

#bu2
{
    margin-top: -9%;
    margin-left: 62%;
    width: 220px;

}


#profileSize
{
    margin-left: 80px; 

    width: 240px;
    height: 240px ;
    /* border-radius: 90% */
/* border-radius: 90%; */
}


#profileSize2
{
    margin-left: 80px; 
    margin-top: -7%; 
    width: 240px;
    height: 240px ;
    /* border-radius: 90% */
/* border-radius: 90%; */
}


#profileSize3
{
    margin-left: 180px; 
    margin-top: 15%; 
    width: 240px;
    height: 240px ;
    margin-right: -35%;
    /* border-radius: 90% */
/* border-radius: 90%; */
}

#profileSize4
{
    margin-left: -900px; 
    margin-top: 11%; 
    margin-left: -35%;
    width: 240px;
    height: 240px ;
    /* border-radius: 90% */
/* border-radius: 90%; */
}


.fakeBg2
{
    background-image: url('whiteBg.png');
    background-size: cover;
    background-position: center;    
  
}

.fakeBg3
{
    background-image: url('resto1.jpeg');
    background-size: cover;
    background-position: center;    
  
}

#brown
{
    background-color:#FDFAF9;
}

#rest1
{
    width: 350px;
    height: 350px;
}

#rest2
{
    width: 290px;
    height: 290px;
}

#rest3
{
    width: 350px;
    height: 350px;
}

#cen{
    margin-left: 40%;
}

#black{
    color: #000;
}


#center1{
    text-align: center;
    align-items: center;
}

#center2{
/* margin-top: -380px; */

}

#tomato{
    margin-top: -1000px;
    width: 650px;
    margin-left: 900px;

}

#center3{
    margin-top: 200px;
    margin-left: -450px;
    width: 700px;
    }

#about{
    margin-left: -590px;
    margin-top: 150px;
    width: 1000px;
}

#profileText
{
    font-family: 'Roboto Condensed', sans-serif;  
    font-size: 10px;
}