/* General Styling */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Arial", sans-serif;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  main {
    flex-grow: 1;
  }
  
  h1, h2, h3 {
    font-family: "Helvetica Neue", Arial, sans-serif;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Local Dishes Styling */
  #dish-list {
    margin-top: 20px;
  }
  
  .list-group-item {
    padding: 10px;
  }
  
  .list-group-item h3 {
    margin-bottom: 10px;
  }
  
  .list-group-item p {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .list-group-item ul {
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 20px;
  }
  
  /* Restaurant List Styling */
  #restaurant-list {
    margin-top: 20px;
  }
  
  .list-group-item {
    padding: 10px;
  }
  
  .list-group-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .list-group-item h3 {
    margin-bottom: 10px;
  }
  
  .list-group-item p {
    margin-bottom: 5px;
  }
  
  .list-group-item ul {
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 20px;
  }
  
  /* Button Styling */
  .btn-container {
    margin-top: 10px;
    text-align: center;
  }
  
  .btn-container .btn {
    margin-right: 10px;
  }
  
  /* Background Images */
  body {
    background-image: url('background-food.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #restaurant-list {
    background-image: url('background-food.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #dish-list {
    background-image: url('background-food.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* About Us Styling */
  #team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .team-member {
    flex-basis: 250px;
    text-align: center;
  }
  
  .team-member img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .team-member h4 {
    margin-bottom: 5px;
  }
  
  .team-member p {
    margin-bottom: 10px;
  }
  
  /* Company Profile Styling */
  .company-profile {
    text-align: center;
  }
  
  /* Contact Us Styling */
  .contact-info {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .contact-info img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .contact-address,
  .contact-email {
    display: flex;
    align-items: center;
  }
  
  /* Footer Styling */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
